<%- include('partials/header') %>

<div class="flex flex-col text-blue">
  <%- include('partials/menu') %> <%- include('partials/nav') %>
  <main class="relative mt-20 ml-0 md:mt-16 md:ml-36 lg:ml-72">
    <div class="min-h-screen p-6 ">
      <div class="caja">
        <div class="flex flex-col mb-4">
          <div class="relative w-full mb-2">
            <input
              type="text"
              placeholder="Buscar"
              class="w-full py-2 pl-10 pr-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="absolute w-5 h-5 text-gray-400 transform -translate-y-1/2 left-3 top-1/2"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </div>
          <div class="flex items-start content-start my-4">
            <button class="buttonsm" onclick="window.location.href='/administradores2'"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 4.5V9M9 9V13.5M9 9H13.5M9 9L4.5 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                 Nuevo administrador</button>
          </div>
        </div>

        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Nombre del administrador</th>
                <th>Proveedor de datos</th>
                <th>Documento asignado</th>
                <th class="text-center">Editor</th>
                <th class="text-center">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Manuel Otárola Sánchez
                </td>
                <td>STOR</td>
                <td>Estado de apelaciones con respecto a sanciones de administrados</td>
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
                <td class="text-center">
                  <button>
                    <img src="/images/icons/trash.svg" class="w-5 h-5" />
                  </button>
                </td>
              </tr>

              <tr>
                <td>
                  Henry Cerna Pérez
                </td>
                <td>DSR</td>
                <td>Informe de resultados de la supervisión de hidrocarburos líquidos (operativo)</td>
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
                <td class="text-center">
                  <button>
                    <img src="/images/icons/trash.svg" class="w-5 h-5" />
                  </button>
                </td>
              </tr>

              <tr>
                <td>
                  Carla Salazar Carrasco
                </td>
                <td>GCRI</td>
                <td>Informe de resultados de la Gerencia de Supervisión Minera (GSM)</td>
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
                <td class="text-center">
                  <button>
                    <img src="/images/icons/trash.svg" class="w-5 h-5" />
                  </button>
                </td>
              </tr>


              <tr>
                <td>
                  Manuel Otárola Sánchez
                </td>
                <td>GCRI</td>
                <td><button class="button-yellow">Pendiente de asignación</button></td>
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
                <td class="text-center">
                  <button>
                    <img src="/images/icons/trash.svg" class="w-5 h-5" />
                  </button>
                </td>
              </tr>

             
              <!-- More rows would go here, following the same structure -->
            </tbody>
          </table>
        </div>
        <div class="flex justify-center w-full mt-9">
        <%- include('partials/paginador') %>
    </div>
      </div>
      <!-- fin caja-->
    </div>
  </main>
</div>

<%- include('partials/footer') %>
