<%- include('partials/header') %>

<div class="flex flex-col text-blue">
  <%- include('partials/menu') %> <%- include('partials/nav') %>
  <main class="relative mt-20 ml-0 md:mt-16 md:ml-36 lg:ml-72">
    <div class="min-h-screen p-6">
      <div class="caja">
       
        <h1 class="mb-4 text-2xl font-bold">Textos predeterminados</h1>
        <div class="flex flex-col mb-4">
            <div class="flex items-start content-start my-4">
                <button id="openModalBtn" class="buttonsm" ><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 4.5V9M9 9V13.5M9 9H13.5M9 9L4.5 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Nuevo texto predeterminado</button>
              </div>
        </div>
        <%- include('partials/modal2') %>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Título</th>
                <th>Texto</th>
                <th class="text-center">Editar</th>
                <th class="text-center">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>Texto predeterminado 1</td>
                <td>Aquí encontrará informes, reportes, documentos y datos ...</td>
               
               
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>

                <td class="text-center">
                    <button>
                      <img src="/images/icons/trash.svg" class="w-5 h-5" />
                    </button>
                  </td>
              </tr>

              <tr>
               
                <td>Texto predeterminado 2</td>
                <td>Conozca los resultados de gestión institucional, las acciones...</td>
               
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>

                <td class="text-center">
                    <button>
                      <img src="/images/icons/trash.svg" class="w-5 h-5" />
                    </button>
                  </td>
              </tr>

              <tr>
                
                <td>Texto predeterminado 3</td>
                <td>Lista actualizada de instaladores de gas natural, a fin de que...</td>
               
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
                <td class="text-center">
                    <button>
                      <img src="/images/icons/trash.svg" class="w-5 h-5" />
                    </button>
                  </td>
              </tr>

              <tr>
                
                <td>Texto predeterminado 4</td>
                <td>Aquí encontrará informes, reportes, documentos y datos ...</td>
           
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
                <td class="text-center">
                    <button>
                      <img src="/images/icons/trash.svg" class="w-5 h-5" />
                    </button>
                  </td>
              </tr>

              <tr>
             
                <td>Texto predeterminado 5</td>
                <td>Conozca los resultados de gestión institucional, las acciones...</td>
             
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
                <td class="text-center">
                    <button>
                      <img src="/images/icons/trash.svg" class="w-5 h-5" />
                    </button>
                  </td>
              </tr>
              <!-- More rows would go here, following the same structure -->
            </tbody>
          </table>
        </div>
        <!-- fin table -->
        <h1 class="mt-12 mb-4 text-2xl font-bold">Periodicidad</h1>
        <div class="flex flex-col mb-4">
            <div class="flex items-start content-start my-4">
                <button class="buttonsm" id="openModalBtn2" ><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 4.5V9M9 9V13.5M9 9H13.5M9 9L4.5 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Nueva periodicidad</button>
              </div>
        </div>
        <%- include('partials/modal3') %>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Título</th>
                <th>Valor de periodicidad</th>
                <th class="text-center">Editar</th>
                <th class="text-center">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>Anual</td>
                <td>Lorem ipsum dolor sit amet consectetur. Justo sed orci mattis velit eget diam ante. Id nisl ullamcorper molestie nulla ac.</td>
               
               
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>

                <td class="text-center">
                    <button>
                      <img src="/images/icons/trash.svg" class="w-5 h-5" />
                    </button>
                  </td>
              </tr>

              <tr>
               
                <td>Mensual</td>
                <td>Lorem ipsum dolor sit amet consectetur. Justo sed orci mattis velit eget diam ante. Id nisl ullamcorper molestie nulla ac.</td>
               
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>

                <td class="text-center">
                    <button>
                      <img src="/images/icons/trash.svg" class="w-5 h-5" />
                    </button>
                  </td>
              </tr>

              <tr>
                
                <td>Semestral</td>
                <td>Lorem ipsum dolor sit amet consectetur. Justo sed orci mattis velit eget diam ante. Id nisl ullamcorper molestie nulla ac.</td>
               
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
                <td class="text-center">
                    <button>
                      <img src="/images/icons/trash.svg" class="w-5 h-5" />
                    </button>
                  </td>
              </tr>

              <tr>
                
                <td>Trimestral</td>
                <td>Lorem ipsum dolor sit amet consectetur. Justo sed orci mattis velit eget diam ante. Id nisl ullamcorper molestie nulla ac.</td>
           
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
                <td class="text-center">
                    <button>
                      <img src="/images/icons/trash.svg" class="w-5 h-5" />
                    </button>
                  </td>
              </tr>

              <tr>
             
                <td>Bimestral</td>
                <td>Lorem ipsum dolor sit amet consectetur. Justo sed orci mattis velit eget diam ante. Id nisl ullamcorper molestie nulla ac.</td>
             
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
                <td class="text-center">
                    <button>
                      <img src="/images/icons/trash.svg" class="w-5 h-5" />
                    </button>
                  </td>
              </tr>
              <!-- More rows would go here, following the same structure -->
            </tbody>
          </table>
        </div>
        <!-- fin table -->
        
        <h1 class="mt-12 mb-4 text-2xl font-bold">Información histórica</h1>    
        <p>Seleccione la cantidad de documentos históricos que serán agregados automáticamente a los documentos. </p>
        <select class="my-6 custom-select max-w-36">
            <option>Seleccione</option>
          </select>

        
      </div>
      <!-- fin caja-->
    </div>
  </main>
</div>

<%- include('partials/footer') %>
