<%- include('partials/header') %>

<div class="flex flex-col text-blue">
  <%- include('partials/menu') %> <%- include('partials/nav') %>
  <main class="relative mt-20 ml-0 md:mt-16 md:ml-36 lg:ml-72">
    <div class="min-h-screen p-6">
      <div class="caja">
        <div class="flex flex-col mb-4">
          <div class="relative w-full mb-2">
            <input
              type="text"
              placeholder="Buscar"
              class="w-full py-2 pl-10 pr-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="absolute w-5 h-5 text-gray-400 transform -translate-y-1/2 left-3 top-1/2"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </div>
        </div>

        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Posición del Slider</th>
                <th>Título</th>
                <th>Texto</th>
                <th class="max-w-64">URL del Botón</th>
                <th class="text-center">Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="flex flex-row justify-center text-lg font-bold">
                    1 <img src="/images/icons/down.svg" class="ml-2" />
                  </div>
                </td>
                <td>Bienvenido a Rendición de Cuentas</td>
                <td>Aquí encontrará informes, reportes, documentos y datos ...</td>
                <td class="break-words max-w-64">
                  https://rendiciondecuentas.osinergmin.gob.pe/regulacion-tarifas-resultados-gestion
                </td>
               
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="flex flex-row justify-center text-lg font-bold">
                    2 <img src="/images/icons/down.svg" class="ml-2" /><img
                      src="/images/icons/up.svg"
                      class="ml-2"
                    />
                  </div>
                </td>
                <td>Memoria Institucional anual</td>
                <td>Conozca los resultados de gestión institucional, las acciones...</td>
                <td class="break-words max-w-64">
                  https://rendiciondecuentas.osinergmin.gob.pe/regulacion-tarifas-resultados-gestion
                </td>
               
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
              </tr>

              <tr>
                <td>
                    <div class="flex flex-row justify-center text-lg font-bold">
                      3 <img src="/images/icons/down.svg" class="ml-2" /><img
                        src="/images/icons/up.svg"
                        class="ml-2"
                      />
                    </div>
                  </td>
                <td>Reporte de registros de instaladores de gas natural</td>
                <td>Lista actualizada de instaladores de gas natural, a fin de que...</td>
                <td class="break-words max-w-64">
                  https://rendiciondecuentas.osinergmin.gob.pe/regulacion-tarifas-resultados-gestion
                </td>
               
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
              </tr>

              <tr>
                <td>
                    <div class="flex flex-row justify-center text-lg font-bold">
                      4 <img src="/images/icons/down.svg" class="ml-2" /><img
                        src="/images/icons/up.svg"
                        class="ml-2"
                      />
                    </div>
                  </td>
                <td>Bienvenido a Rendición de Cuentas</td>
                <td>Aquí encontrará informes, reportes, documentos y datos ...</td>
                <td class="break-words max-w-64">
                  https://rendiciondecuentas.osinergmin.gob.pe/regulacion-tarifas-resultados-gestion
                </td>
               
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
              </tr>

              <tr>
                <td>
                    <div class="flex flex-row justify-center text-lg font-bold">
                      5 <img src="/images/icons/up.svg" class="ml-2" />
                    </div>
                  </td>
                <td>Memoria Institucional anual</td>
                <td>Conozca los resultados de gestión institucional, las acciones...</td>
                <td class="break-words max-w-64">
                  https://rendiciondecuentas.osinergmin.gob.pe/regulacion-tarifas-resultados-gestion
                </td>
               
                <td class="text-center">
                  <button>
                    <img src="/images/icons/pencil.svg" class="w-5 h-5" />
                  </button>
                </td>
              </tr>
              <!-- More rows would go here, following the same structure -->
            </tbody>
          </table>
        </div>
        <div class="flex justify-center w-full mt-9">
          <%- include('partials/paginador') %>
        </div>
      </div>
      <!-- fin caja-->
    </div>
  </main>
</div>

<%- include('partials/footer') %>
